@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào Mừng Tới Khách Sạn Royal</h1>
    <p>Liên Hệ : <a href="https://www.facebook.com/profile.php?id=100033899647735">Dịch Vụ Chăm Sóc Khách Hàng 24/7</a>.</p>
    <p>Hotline : 0355798821</p>

</div>
<style>
    body{
    background-color:rgb(197, 192, 119);
    }
</style>
